{% extends 'base.html' %}

{% block content%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">about us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to ecomemrce</p>
        </div>
    </div>
</header>
<br/><br/>
<article>
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae placerat nisl, a consectetur ex. Phasellus et ipsum quis libero accumsan sodales id nec nunc. Quisque ut enim eget leo suscipit iaculis ut at nulla. Aenean sapien neque, feugiat auctor mi sit amet, iaculis hendrerit dolor. Donec vehicula sapien ut neque vehicula, quis mollis mi ullamcorper. Maecenas at neque in eros fermentum vehicula et in leo. Praesent sed leo vel ex vulputate consequat vitae vitae enim. Praesent lacinia viverra lacus, ac viverra turpis bibendum vitae. <br/><br/>

Fusce vestibulum mauris metus, ac laoreet augue lacinia nec. Sed mattis facilisis augue, et varius dolor consequat nec. Pellentesque porta quam a elit euismod, aliquet elementum sapien sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam malesuada, dui at rhoncus congue, lectus lorem tincidunt ligula, et tempor odio metus eget ligula. Nunc enim lacus, tincidunt id ante vitae, blandit efficitur mauris. Phasellus at urna vestibulum, volutpat est ut, dictum diam. Donec et odio sodales, aliquet risus sodales, ornare tellus. Nullam pellentesque ex a tortor volutpat, eget condimentum sem convallis. Vivamus mi orci, eleifend a condimentum eget, venenatis eu magna.<br/><br/>

Cras congue sodales consequat. Pellentesque semper tellus quam, vitae hendrerit lorem suscipit sit amet. Fusce orci tellus, blandit non tortor eu, posuere sodales nulla. Duis semper orci iaculis nisi fermentum accumsan. Morbi lacinia bibendum sapien. Integer id dapibus nisi. Donec arcu nunc, mattis vel odio eu, sollicitudin convallis dolor. Cras vitae porttitor enim.<br/><br/>
                </p>
            </div>
        </center>
    </div>

</article>


{% endblock %}