{% extends 'base.html' %}

{% block content%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">categories </h1>
            <p class="lead fw-normal text-white-50 mb-0">choose your chategory .</p>
        </div>
    </div>
</header>
<br/><br/>
<article>
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br/><br/>
                    {%for category in categories  %}
                   <h3><a href="{% url 'category' category%}">{{category}}</a></h3> 
                    {%endfor%}
                </p>
            </div>
        </center>
    </div>

</article>


{% endblock %}