{% extends 'base.html' %}

{% block content%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login</h1>
            <p class="lead fw-normal text-white-50 mb-0">Login To Your Account</p>
        </div>
    </div>
</header>

<br/><br/>
<div class="grid text-center d-flex justify-content-center vh-10 align-items-center">
<div class="g-col-6 g-col-md-4">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
      <div>
           
              <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}

          <div class="mb-3">
            
            <input type="text" class="form-control" name="username" placeholder="Username" required>   
          </div>
          <div class="mb-3">
            <input type="password"  class="form-control" name="password" placeholder="Password" required>
          </div>
          
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
            

      </div>
      </div>
    </div>

</div>
</div>

<br/><br/>

{% endblock %}